span > * {
  margin:0;
  padding:0;
}





hr.hrAlt {
  background-color: #bc9cd8; 
  
  min-width:20%;
  width:20%; 
  height:7.5px;

  box-shadow: 1px 5px 5px #621ca0;
}


main {
  margin:1vh 4vw;
  padding:2.5vh 2vw;

  background-color:#7131d8;
  text-shadow: 1px 5px 5px #621ca0;

  border-radius: 25px;
  box-shadow: inset 0px 0px 25px 25px #3b0a5c59;

  color:#fff;
  overflow: hidden;
}


main img.storeIcon {
  margin:20px;
  max-width:25vw;
}




#dessertExample {
  border-radius:20px;
  width:500px;
  float:right;
  padding:10px;
  margin:10px;
}

#sundaeExplanation {
  font-size:1.5rem; 
  
}

#sundaeExplanation > * {
  text-align:left;
  margin-right:20px;
}

